body
{
	background-color: black;
}

.popup
{
	color: white;
}

#scoreboard
{
	display: flex;
	color: white;
}

#playersList
{
	color: white;
}

#set_tournament
{
	display: none;
}

#pong_table
{
	display: block;
	margin: 0 auto;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}