@import "tailwindcss";

/* @theme {
	--font-scoreboard: "DSEG7ClassicMini", "monospace";
} */

@font-face {
  font-family: 'DSEG7ClassicMini';
  src: url('/fonts/DSEG7ClassicMini-Regular.woff2') format("woff2");
}

.font-dseg {
  font-family: 'DSEG7ClassicMini', monospace;
  color: white;
  font-size: 3rem;
}

@font-face {
  font-family: 'SevenSegment';
  src: url('/fonts/SevenSegment.ttf') format('truetype');
  font-display: swap;
}

.font-seven {
  font-family: 'SevenSegment', monospace;
  color: white;
}

#sidebar.expanded {
  width: 20% !important;
}

/* Firefox */
input[type="range"] {
  height: 8px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Firefox cursor */
input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* Firefox line*/
input[type="range"]::-moz-range-track {
  background: black;
  height: 1px;
  border-radius: 9999px;
}

/* Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* important */
  height: 10px;
  width: 10px;
  background: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -3.5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: black;
  height: 1px;
  border-radius: 9999px;
}

/* IE / Edge Legacy */
input[type="range"]::-ms-thumb {
  height: 10px;
  width: 10px;
  background: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  background: black;
  height: 1px;
  border-radius: 9999px;
  border-color: transparent;
  color: transparent;
}

.winner-bg
{
  background-color: #EDD24E;
}

.winner-bg input, .winner-bg span
{
  color: black;
}